* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body>:first-child>h1 {
    font-size: 2.5rem;
    color: #002c85;
}

.clock {
    height: 25rem;
    width: 60rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    /* margin-top: 0.3rem; */
}


.clock>:first-child {
    display: flex;
    gap: 1.5rem;
  
}

.clock>:first-child>div {
    width: 12rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    color: #5c5c5c;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0.7rem;
}

.clock>:first-child>div>h1{
    font-size: 2.5rem;
}

.clock>:first-child>div:hover h1{
    transform: scale(1.3);
    transition: 0.4s all;
}

.clock>:first-child>div>p{
    font-size: 1rem;
}


.clock>:first-child>div>h1#h {
    color: red;
}


.clock>:first-child>div>h1#m {
    color: green;
}

.clock>:first-child>div>h1#s {
    color: blue;
}

.clock>:first-child>div>h1#apm {
    font-size: 1.6rem;
}

.clock>:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    width: 53rem;
    height: 7rem;
    color: #5c5c5c;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0.7rem;
}

.clock>:last-child>div{
    display: flex;
    align-items: baseline;
    gap: 0.3rem;
}

.clock>:last-child>div>h1{
    color: #750085;
}

.clock>:last-child>div>h3{
    color: #850054;
}

hr{
    width: 70%;
    border-bottom: none;
    border: 0.4ps solid rgba(99, 99, 99, 0.2);
    margin-top: 1rem;
}
